[submodule "library/vendors/pd-for-ios"]
	path = library/vendors/pd-for-ios
	url = https://github.com/dancing-bone-machine/pd-for-ios.git
[submodule "library/vendors/libpd"]
	path = library/vendors/libpd
	url = https://github.com/dancing-bone-machine/libpd.git
[submodule "library/vendors/rtaudio"]
	path = library/vendors/rtaudio
	url = https://github.com/dancing-bone-machine/rtaudio.git
